/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0991f3;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--scroll-bg-dark);
  -webkit-box-shadow: inset 0 0 6px #0991f3;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #0991f3;
}
@font-face {
  font-family: mw_logo;
  src: url(../../assets/webfonts/Symbol.ttf);
}

nav.mw-home .nav-link {
  color: #191919;
  font-weight: 500;
}
nav.mw-home .nav-link {
  padding-right: 12px !important;
  padding-left: 12px !important;
  border-bottom: 3px solid transparent;
}
.nav-link:focus, .nav-link:hover {
  color: #0991f3 !important;
  border-bottom: 3px solid #0991f3 !important;
}
.tab_button {
  position: absolute;
  right: 80px;
  height: 100%;
  background-color: rgba(246, 246, 246, 0.5);
  z-index: 1040;
  padding: 10px;
}
.tab_button .tab_btn-style{
  display: flex  ;
  flex-direction: column;
  gap: 10px;
  border-bottom: 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tab_content {
  position: absolute;
  content: "";
  bottom: 40px;
  left: 80px;
  padding: 10px;
  color: #fff;
  width: 80%;
}
.contact_icon {
  position: absolute;
  right: 0px;
  z-index: 1041;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.tab_content::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 4px;
  background: #448CFD;
  top: 0px;
}
ul.dev {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
ul.dev li a{
  float:left;
  width:100%;
  height:auto;
  text-decoration: none;
  color:#333;
  font-weight: 500;
  padding: 15px 50px;
  scale: 1;
  transition: 0.3s;
  position: relative;
}
ul.dev li a::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background-color: #818181;
  top: 10%;
  left: 0px;
}
ul.dev li:nth-child(1) a::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 80%;
  background-color: #818181;
  top: 10%;
  left: 0px;
}
ul.dev li a:hover{
  padding: 15px 50px;
  scale: 1.1;
  background-color: #B8D4FF;
  border-radius: 6px;
  transition: 0.3s;
}
ul.dev li a:hover span{
  color:#145dd1
}
.dev-li-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.mission_img {
  position: absolute;
  object-fit: cover;
  width: 50%;
  text-align: center;
  left: 25%;
}
.rotingtxt{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	font-size: 4em;
  color: rgb(255 255 255 / 15%);
  position: absolute;
  font-family: 'Denk One', sans-serif;
  text-transform: uppercase;
  padding-left: 12%;
  margin-top: -10px;
  line-height: 60px;
  font-weight: bold;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots button {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #ccc;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #1564E5;
  width: 40px;
  height: 12px;
  border-radius: 20px;
}
.card_arrow {
  width: 45px;
  position: absolute;
  right: -8px;
  bottom: -9px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.arrow_rot{
  transform: rotate(320deg);
  transition: 0.3s;
}
.card:hover i{
  transform: rotate(360deg);
  transition: 0.3s;
  box-shadow: 0px 0px 30px #777777;
}

button.slick-next {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 100;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 2px 10px #ccc;
  width: 35px;
  height: 35px;
}
button.slick-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  z-index: 100;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 2px 10px #ccc;
  width: 35px;
  height: 35px;
}
.slick-next:before, [dir=rtl] .slick-prev:before {
  /* content: '→'; */
    content: "\f061";
  font-family:'fontawesome'
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
}
.slick-prev:before {
  /* content: '←'; */
  /* content: '&f060'; */
  content: "\f060";
  font-family:'fontawesome'
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: rgb(138 143 153);
  font-weight: bold;
}

.bg-f{
  background: url(../images/footer_bg.png);
}
.m-logo-sty{
  background-color: #ffffff;
  padding: 10px 15px 10px 120px;
}
.m-logo-padd{
  padding: 60px 15px 10px 120px;
}
.btn_padding-1030{
  padding: 10px 30px;
}
.disp_flex-footer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.disp_flex-inn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.footer-social{
  float:left;
  width:100%;
  height:auto;
}
.footer-social a{
  float:left;
  width:auto;
  height:auto;
  color:#ffffff;
  padding: 0px 10px;
  font-size: 24px;
}
.copyright-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
ul.copy-footer {
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: auto;
}
ul.copy-footer li{
  width:auto;
  height: auto;
  float:left
}
ul.copy-footer li a{
  padding: 0px 12px;
  color:#eeeeee;
  text-decoration: none;
  position: relative;
  transition: .5s ease;
}
ul.copy-footer li a::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 60%;
  top: 20%;
  background-color: #fff;
  right: 0px;
}
ul.copy-footer li a:hover{
  color:#dddddd;
  transition: .5s ease;
  margin: 10px;
}
ul.footer_ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.footer_ul li{
float: left;
width: 100%;
height: auto;
}
ul.footer_ul li a {
padding: 5px 0px;
color: #ffffff;
margin: 0px;
text-decoration: none;
float: left;
width: 100%;
transition: .5s ease;
}
ul.footer_ul li a:hover {
color: #eeeeee;
margin-left:10px;
transition: .5s ease;
}
/* back to TOP CSS  */
a#scroll {
  width: 50px;
    height: 50px;
    background-color:#147ecf;
    display: inline-block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
}
#scroll span {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 0;
    width: 0;
    margin-left: -9px;
    margin-top: -5px;
    border-bottom: 10px solid #fff;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.head-color{
  color: #002855;
}
.grid_5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 15px;
  height: 100%;
}
/* .grid_5 .grid_div{
  border-bottom:1px solid #ddd;
} */
.grid_9 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  gap: 15px;
  height: 100%;
}
@media(max-width:575px){
  .grid_5 {
    grid-template-columns: auto auto ;
  }
  .grid_9 {
    grid-template-columns: auto auto;
  }
  .hide-575{
    display:none;
  }
  ul.dev {
    flex-direction: column;
}
ul.dev li a::after {
  width: 0px;
}
.m-logo-sty {
  background-color: #ffffff;
  padding: 10px 15px 10px 15px;
}
.m-logo-padd {
  padding: 60px 15px 10px 15px;
}
}
.w_h_media {
  object-fit: cover;
  height: 100%;
  object-position: center;
}
.nav-tabs button.nav-link{
  background-color: #C7C7C7;
  border-radius: 0px;
  font-size: 28px;
  color: #333333;
  font-weight: 500;
}
.nav-tabs .nav-link.active {
  border-color: transparent;
  transform: scaleY(1.2);
  border-bottom: 3px solid transparent !important;
  transition: 0.3s;
}
.nav-tabs .nav-link:hover {
  border-color: transparent;
  transform: scaleY(1.2);
  border-bottom: 3px solid transparent !important;
  transition: 0.3s;
}
.nav-tabs .nav-link{
  transition: 0.3s;
}
.card a.stretched-link {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.card a.stretched-link:hover {
  text-decoration: none;
  color: #147ecf;
  transform: scale(1.06);
  transition: 0.3s;
}
.bb{
  position: relative;
}
.bb::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  background-color: #147ecf;
  bottom: -4px;
}
ul.emp_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
}
ul.emp_list li{
  width: 100%;
  height: auto;
}
ul.emp_list li a {
  padding: 9px 15px;
  text-decoration: none;
  color: #343434;
  background-color: #eee;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ddd;
  transition: .5s ease;
}
ul.emp_list li a.active {
  color: #003C6A;
  background-color: #eee;
  font-weight:500;
}
ul.emp_list li a:hover{
  color: #003C6A;
    margin-left: 10px;
    transition: .5s ease;
    font-weight:500;
    box-shadow: 4px 0px 0px #808080;
}
.disp_flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.upper_layerinn {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
.grid_2 {
  display: grid;
  grid-template-columns: 50px auto;
  height: auto;
}
.logo_font {
  font-family: symbol !important;
  font-size: 60px;
}
small{
  font-size: 15px;
}
.qut {
  font-size: 30px;
  font-weight: bold;
  color: #1d6e9e;
}
.ans {
  font-size: 22px;
  color: #1d6e9e;
  font-weight: bold;
}
@media(max-width:767px){
  .grid_5 {
    grid-template-columns: auto auto auto;
  }
  .grid_9 {
    grid-template-columns: auto auto auto;
  }
  .tab_button {
    position: static;
  }
  .tab_button .tab_btn-style {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media(max-width:959px){
  .grid_5 {
    grid-template-columns: auto auto auto;
  }
  .grid_9 {
    grid-template-columns: auto auto auto auto auto;
  }
}
@media(max-width:1120px){
  .grid_9 {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media(max-width:1280px){
  .grid_9 {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}